@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.App{
  text-align: center;
}
.App .companyName{
  font-weight: 400;
  text-transform: uppercase;
}
.status-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}
.status-react-container{
  display: flex;

}
.status-react-container button{
  border: none;
  background-color: transparent;
  font-size:25px;
  color: #c51104;
}